<div *ngIf="isBusy" class="busy-dialog" role="alert">
    <span class="cdk-visually-hidden">returning... please wait</span>
    <mat-spinner></mat-spinner>
</div>
<main id="main" [attr.aria-busy]="isBusy" [class.full-screen]="isFullScreen">
    <mat-spinner *ngIf="isLoadingUser"></mat-spinner>
    <ng-container *ngIf="!isLoadingUser && lang">
        <div fxLayout="row" *ngIf="checkedOutItem">
            <div fxLayout="column" fxLayoutAlign="center start" id="book-header">
                <h1 *ngIf="readerLang.readerHead">{{ readerLang.readerHead }}</h1>
                <h2 *ngIf="checkedOutItem.part && !isFullScreen">Part
                    {{checkedOutItem.part}}/{{checkedOutItem.partTotal}} <span
                        *ngIf="checkedOutItem.partDesc">({{checkedOutItem.partDesc}})</span></h2>
            </div>
            <div *ngIf="isFullScreen" id="close" fxLayoutAlign="end center"><button mat-icon-button
                    (click)="fullScreen()">
                    <mat-icon *ngIf="isFullScreen">close</mat-icon>
                </button></div>
        </div>
        <div *ngIf="checkedOutItem && !isFullScreen" fxLayout="row" class="due">
            <div>
                {{ readerLang.dueBack }}
                <!-- Due back: {{ checkedOutItem.due | date:'MMM d, y, h:mm a' }} &nbsp;&nbsp; -->
            </div>
            <div class="buttons" fxLayoutGap=".5em">
                <button *ngIf="user.isAccessibleUser && !isFullScreen" class="download" mat-raised-button color="primary" class="button-primary"
                    (click)="download()">Download</button>
                <button *ngIf="!isFullScreen" class="return" mat-stroked-button color="warn"
                    (click)="return()">Return now</button>
            </div>
        </div>

        <div *ngIf="!thirdPartyCookiesSupported" class="alert alert-warning">
            <strong>Third-party cookies are currently blocked!</strong> Third-party cookies are required for the book
            reader to work properly. Please enable it by following <a
                href="https://support.panopto.com/s/article/How-to-Enable-Third-Party-Cookies-in-Supported-Browsers"
                target="_blank">these instructions</a>.</div>
        <!-- login help, user needs to be logged in to GDrive to read -->
        <mat-expansion-panel *ngIf="!isLoadingUser && !isFullScreen && !isCheckedOutItemLoading && checkedOutItem && showLoginBanner" class="help">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon id="support-icon" role="presentation">support</mat-icon>
                    <span
                        fxLayoutAlign="start center">{{ readerLang.help.helpHead }}</span>
                </mat-panel-title>
                <mat-panel-description>
                    {{ readerLang.help.helpDesc }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div [innerHTML]="readerLang.help.helpText | safe:'html'">
            </div>
            <div *ngIf="readerLang.help.openReaderInNewWindowButtonText || readerLang.help.openReaderInNewWindowText">
                <p *ngIf="readerLang.help.openReaderInNewWindowText">{{ readerLang.help.openReaderInNewWindowText }}</p>
                <button *ngIf="readerLang.help.openReaderInNewWindowButtonText" mat-stroked-button (click)="pop()">{{ readerLang.help.openReaderInNewWindowButtonText }}</button>
            </div>
            <div *ngIf="hasReaderOpenedDirectly() && readerLang?.help?.gDriveReaderOpenedWarning" class="on-before-unload-warning">
                {{ readerLang.help.gDriveReaderOpenedWarning }}
            </div>
        </mat-expansion-panel>

        <div id="reader" *ngIf="checkedOutItem && !hasExpired">
            <!-- block the 'pop-out' button and do something else -->
            <div id="blocker" (click)="fullScreen()" fxLayoutAlign="center center">
                <span *ngIf="!isFullScreen">&nbsp;</span>
                <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
            </div>
            <ng-container *ngIf="!mode">
                <iframe [src]="checkedOutItem.url | safe: 'resourceUrl'"></iframe>
            </ng-container>
        </div>
        <div *ngIf="!isCheckedOutItemLoading && !checkedOutItem" class="err-msg margin-top-default">You don't currently
            have any item checked out</div>
    </ng-container>
    <div *ngIf="hasExpired" class="err-msg margin-top-default">{{ readerLang.itemHasBeenAutoReturned }}</div>
    <!-- need to host this ourselves but don't have other domain LOL -->
    <iframe [src]="'https://mindmup.github.io/3rdpartycookiecheck/start.html' | safe: 'resourceUrl'"
        style="display: none;"></iframe>
</main>