<main id="main">
    <h1>Error </h1>
    <div *ngIf="library">{{ lang.libraries[library]?.error[mode] }}</div>
    <div *ngIf="mode != 'apiError'" class="margin-top-default"><button mat-raised-button [routerLink]="'/'">Back to Home Page</button></div>

    <ng-container *ngIf="mode == 'apiError'">
        <div class="down">
            <h1>The Application is currently unavailable</h1>
            <p *ngIf="!reason">This could be because the app is down for scheduled maintenace, or something just went horribly wrong!</p>
            <p *ngIf="reason">ISSUE: <strong>{{ reason | uppercase }}</strong></p>
            <div *ngIf="reason == 'no-lib'">
                There's no library setup yet. Please initialized the app at /api/?action=init
            </div>
            <br>
            <p><small>*if you're the administrator of the application, you might want to look at the API setttings!</small></p>
        </div>
        <br>

    </ng-container>
</main>