.label {
    color:#333;
    margin-right: .25em;
}
.badge {
    font-size: smaller;
    margin: 0 .5em;
    background: lightcyan;
    padding: .25em;
    mat-icon {
        font-size: 14px;
        width: 18px;
    }
}

.borrowing {
    margin-top: 1em;
    padding: 1em;
    background: aliceblue;
    color: black;
}

.read-return {
    .error {
        padding: 1em;
        background: lightcoral;
    }
}