<div *ngIf="isBusy" class="busy-dialog" role="alert">
    <span *ngIf="busyAction == 'borrow'" class="cdk-visually-hidden">borrowing... please wait</span>
    <span *ngIf="busyAction == 'return'" class="cdk-visually-hidden">returning... please wait</span>
    <mat-spinner></mat-spinner>
</div>
<main id="main">
    <h1>My Account</h1>
    <div *ngIf="!isLoadingUser" fxLayout="row" fxLayoutGap="1em">
        <div *ngIf="user.photoUrl"><img [src]="user.photoUrl"></div>
        <div>
            <div><span class="label">Username: </span><span class="value">{{ user.userName }}</span></div>
            <div><span class="label">Name: </span><span class="value">{{ user.fullName }}</span></div>
            <div *ngIf="config && hasMultiLibraries"><span class="label">Library: </span><span class="value"><a [routerLink]="'/library/' + user.homeLibrary">{{ config.libraries[user.homeLibrary].name }}</a></span></div>
            <div *ngIf="user?.isAccessibleUser">
                <span class="label">Type: </span>
                <span class="badge">
                    <mat-icon role="presentation">accessible_forward</mat-icon>
                    Accessible User
                </span>
            </div>
        </div>
    </div>

    <h2 *ngIf="mode == 'my'">Item you're borrowing</h2>
    <h2 *ngIf="mode == 'read'">Read</h2>
    <h2 *ngIf="mode == 'return'">Return</h2>
    <app-checked-out-item
        *ngIf="user"
        [lang]="lang" [library]="user.homeLibrary"
        (userHasItemCheckedOut)="onUserHasItemCheckedOutCheck($event)"
        (refreshParent)="onRefreshParent($event)"></app-checked-out-item>

    <div *ngIf="justReturned" class="alert alert-success">
        Your item has been returned successfully!
    </div>

    <!-- <div *ngIf="userHasItemCheckedOut === false && !justReturned" class="borrowing" [class.error]="mode == 'read' || mode =='return'">
        You don't have any item checked out at the moment
    </div> -->
</main>
