<div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="2em">
    <mat-button-toggle-group vertical name="browseType" id="browse-type" aria-label="Browse Type"
        [(ngModel)]="reserveMode" fxFlex="25">
        <mat-button-toggle *ngFor="let field of lang.searchFields | keyvalue" [value]="field.key">{{ field.value.text }}</mat-button-toggle>
    </mat-button-toggle-group>
    <div fxFlex="auto">
        <!-- reserveMode: {{ reserveMode }} -->
        <ng-container>
            <h3>Search by {{ lang.searchFields[reserveMode].text }}</h3>
            <div fxLayout="row" fxLayoutGap=".5em">
                <mat-form-field appearance="outline">
                    <mat-label>{{ lang.searchFields[reserveMode].text }}</mat-label>
                    <input [(ngModel)]="reservesSearchTerm" matInput [placeholder]="lang?.searchFields[reserveMode]?.placeholder"
                        (keyup.enter)="searchReserve()">
                    <mat-icon *ngIf="reservesSearchTerm" matSuffix class="field-button" (click)="clear()">clear</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="primary" class="button-primary" (click)="searchReserve();"
                    [disabled]="!reservesSearchTerm || (currentReservesSearchTerm == reservesSearchTerm && currentReserveMode == reserveMode)">Search</button>
            </div>
            <div *ngIf="lang.searchFields[reserveMode].hint" class="hint">{{ lang.searchFields[reserveMode].hint }}</div>
        </ng-container>
    </div>
</div>