<div *ngIf="isBusy" class="busy-dialog" role="alert">
    <span *ngIf="busyAction == 'borrow'" class="cdk-visually-hidden">borrowing... please wait</span>
    <span *ngIf="busyAction == 'return'" class="cdk-visually-hidden">returning... please wait</span>
    <mat-spinner></mat-spinner>
</div>
<section *ngIf="lang && library && !isCheckedOutItemLoading && !shouldHide" class="borrowing"
    aria-label="Item you are borrowing" aria-live="polite" [attr.aria-busy]="isCheckedOutItemLoading">
    <ng-container *ngIf="checkedOutItem">
        <h2>{{ lang.libraries[checkedOutItem.library]?.currentCheckout?.head }}</h2>
        <mat-spinner *ngIf="isCheckedOutItemLoading"></mat-spinner>
        <!-- has item -->
        <ng-container *ngIf="checkedOutItem && !isCheckedOutItemLoading">
            <!-- if embeded on item page -->
            <p *ngIf="parent && parent == 'item'">
                {{ checkedOutItem.library == parentLibrary && checkedOutItem.bibId == parentBibId ? lang.libraries[library].currentCheckout.itemHeadThis : lang.libraries[library].currentCheckout.itemHead }}<br>
            </p>   
            <!-- everywhere -->
            <ng-container>
                Title: {{ checkedOutItem.title }} <span *ngIf="checkedOutItem.part"> (part: {{checkedOutItem.part}} /
                    {{checkedOutItem.partTotal}})</span><br>
                <span *ngIf="library != checkedOutItem.library">Library: {{ checkedOutItem.libraryName }}<br></span>
            </ng-container>
            <ng-container *ngIf="checkedOutItem.due">Due back: {{ checkedOutItem.due | date:'MMM d, y, h:mm a' }}</ng-container>
            <div class="margin-top-default" fxLayoutGap=".5em">
                <button id="main-read-button" mat-raised-button color="primary" class="button-primary"
                    (click)="read(checkedOutItem.id)" [class.hidden]="mode == 'return'" [class.embiggen]="mode == 'read'">Read</button>
                <button *ngIf="isAccessibleUser" class="download" mat-stroked-button color="primary"
                    (click)="download(checkedOutItem.id)" [class.hidden]="mode == 'return'" [class.embiggen]="mode == 'read'">Download</button>
                <button mat-stroked-button color="warn" class="return" (click)="return(checkedOutItem.id)" [class.hidden]="mode == 'read'" [class.embiggen]="mode == 'return'">Return
                    now</button>
            </div>
            <div *ngIf="hasReaderOpenedDirectly() && lang?.libraries[checkedOutItem.library]?.currentCheckout?.gDriveReaderOpenedWarning" class="on-before-unload-warning">
                {{ lang.libraries[checkedOutItem.library]?.currentCheckout?.gDriveReaderOpenedWarning }}
            </div>
        </ng-container>
    </ng-container>
    <!-- no item -->
    <div *ngIf="!checkedOutItem && !isCheckedOutItemLoading">
        <h2>{{ lang.libraries[library]?.currentCheckout?.head }}</h2>
        <p>{{ lang.libraries[library].currentCheckout.noItem }}</p>
    </div>
</section>
