

.copy-card {
    padding: 1em;
    margin-bottom: 0.5em;
}
.borrowing {
    padding: 1em;
    background: aliceblue;
    color: black;
}
.status {
    font-size: smaller;
    &.available {
        color: green;
    }
    &.unavailable {
        color: red;
    }
    &.checked-out-to-me {
        color: lightskyblue;
    }
}
#author-sub-heading {
    margin-top: -1em;
}