<div *ngIf="isBusy" class="busy-dialog" role="alert">
    <mat-spinner></mat-spinner>
</div>
<main>
    <div fxLayout="row">
        <h1>CDL Application Customizations Config</h1>
        <button id="btn-config" mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>settings_suggest</mat-icon>
            <span> Config</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'../'">App & Library Configs</button>
            <button mat-menu-item disabled class="is-active">Customizations</button>
            <button mat-menu-item [routerLink]="'../lang'">Languages</button>
        </mat-menu>
    </div>
    <mat-spinner *ngIf="!appCustLibrariesCopy"></mat-spinner>
    <mat-accordion *ngIf="appCustLibrariesCopy" [multi]="false">
        <!-- app global -->
        <mat-expansion-panel *ngIf="user?.isSuperAdmin" [expanded]="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    App Global
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="appCustGlobal">
                <ul class="root">
                    <!-- unsaved banner -->
                    <div *ngIf="appCustGlobalDirtyCount.count && !appCustGlobalDirtyCount.isLoading"
                        class="alert alert-warning margin-top-default">
                        <p><strong>{{ appCustGlobalDirtyCount.count }} Unsaved Change(s)</strong></p>
                        <button mat-raised-button color="primary" class="button-primary"
                            (click)="updateCust(appCustGlobalCopy, -1)">Save
                            App Global Customization</button>
                    </div>
                    <ng-template #recursiveList let-appCustGlobalCopy>
                        <li *ngFor="let item of appCustGlobalCopy">
                            <ng-container *ngIf="!item.children && item.editable != 'hide'">
                                <!-- input -->
                                <mat-form-field
                                    *ngIf="(item.type == 'string' || item.type == 'integer' || item.type == 'array') && !item.options"
                                    appearance="fill" [style.width.px]="(item.value?.length * 5) + 225">
                                    <mat-label>{{item.key}}</mat-label>
                                    <input matInput [disabled]="item.editable == 'warning'"
                                        [type]="item.type == 'integer' ? 'number' : 'text'" [(ngModel)]="item.value"
                                        (ngModelChange)="appCustGlobalSubject.next()">
                                    <mat-icon matSuffix [class.edited]="item.isDirty">{{ item.editable }}</mat-icon>
                                    <mat-hint>{{ item.desc }}</mat-hint>
                                </mat-form-field>
                                <!-- bool -->
                                <div *ngIf="item.type == 'boolean'" class="field">
                                    <mat-slide-toggle [(ngModel)]="item.value"
                                        (ngModelChange)="appCustGlobalSubject.next()">{{item.key}}
                                    </mat-slide-toggle>
                                    <br>
                                    <mat-hint>{{ item.desc }}</mat-hint>
                                </div>
                                <!-- select -->
                                <mat-form-field *ngIf="item.options" appearance="fill">
                                    <mat-label>{{ item.key }}</mat-label>
                                    <mat-select [(ngModel)]="item.value" (ngModelChange)="appCustGlobalSubject.next()"
                                        [disabled]="item.editable == 'warning'">
                                        <mat-option *ngFor="let opt of item.options" [value]="opt">{{opt}}</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix [class.edited]="item.isDirty">{{ item.editable }}</mat-icon>
                                    <mat-hint>{{ item.desc }}</mat-hint>
                                </mat-form-field>
                            </ng-container>
                            <ul *ngIf="item.children">
                                <div class="sub-head" [class.edited]="item.isDirty">{{ item.key | titlecase }}</div>
                                <div *ngIf="sectionDefinitions[item.key]" class="sec-def">
                                    <mat-icon>info</mat-icon> {{ sectionDefinitions[item.key] }}
                                </div>
                                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }">
                                </ng-container>
                            </ul>
                        </li>
                    </ng-template>
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: appCustGlobalCopy }">
                    </ng-container>
                </ul>

                <button mat-raised-button [disabled]="!appCustGlobalDirtyCount.count" color="primary" class="button-primary" (click)="updateCust(appCustGlobalCopy, -1)">Save
                    App Global Customization</button>
            </div>
        </mat-expansion-panel>

        <!-- libraries -->
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Libraries
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-spinner *ngIf="!appCustLibrariesCopy.length"></mat-spinner>
            <mat-tab-group *ngIf="appCustLibrariesCopy.length">
                <ng-container *ngFor="let library of appCustLibrariesCopy; let i = index">
                    <mat-tab *ngIf="appCustLibrariesCopy[i].length"
                        [label]="appCustLibrariesDirtyCount[i].name + ' (' + appCustLibrariesDirtyCount[i]?.libKey  + ')'">
                        <mat-spinner *ngIf="appCustLibrariesDirtyCount[i].isLoading"></mat-spinner>
                        <!-- unsaved banner -->
                        <div *ngIf="appCustLibrariesDirtyCount[i].count && !appCustLibrariesDirtyCount[i].isLoading"
                            class="alert alert-warning margin-top-default">
                            <p><strong>{{ appCustLibrariesDirtyCount[i].count }} Unsaved Change(s)</strong></p>
                            <button mat-raised-button color="primary" class="button-primary"
                                (click)="updateCust(appCustLibrariesCopy[i], i)">Save Customization for Library
                                {{appCustLibrariesDirtyCount[i].name}}</button>
                        </div>
                        <ul *ngIf="!appCustLibrariesDirtyCount[i].isLoading" class="root">
                            <ng-template #recursiveListLibrary let-library>
                                <li *ngFor="let item of library">
                                    <ng-container *ngIf="!item.children && item.editable != 'hide'">
                                        <!-- str/int -->
                                        <mat-form-field
                                            *ngIf="(item.type == 'string' || item.type == 'integer' || item.type == 'array') && !item.options"
                                            appearance="fill" [style.width.px]="(item.value?.length * 5) + 225">
                                            <mat-label>{{item.key}}</mat-label>
                                            <input matInput [type]="item.type == 'integer' ? 'number' : 'text'"
                                                [disabled]="item.editable == 'warning'" [(ngModel)]="item.value"
                                                (ngModelChange)="appCustomizationSubject.next(i)">
                                            <mat-icon matSuffix *ngIf="item.isDefault && !item.isDirty"
                                                [matTooltip]="'Default'">build_circle</mat-icon>
                                            <mat-icon matSuffix *ngIf="!item.isDefault || item.isDirty"
                                                [matTooltip]="item.isDirty ? 'Edited - unsaved' : 'Custom'"
                                                [class.is-dirty]="item.isDirty">{{ item.editable }}</mat-icon>
                                            <mat-hint *ngIf="item.desc">{{ item.desc }}</mat-hint>
                                        </mat-form-field>
                                        <!-- bool -->
                                        <ng-container *ngIf="item.type == 'boolean'">
                                            <mat-slide-toggle [(ngModel)]="item.value"
                                                [disabled]="item.editable == 'warning'"
                                                (ngModelChange)="appCustomizationSubject.next(i)">
                                                {{item.key}}?</mat-slide-toggle>
                                            <br>
                                            <mat-hint *ngIf="item.desc">{{ item.desc }}</mat-hint>
                                        </ng-container>
                                        <!-- select -->
                                        <mat-form-field *ngIf="isArray(item.options)" appearance="fill">
                                            <mat-label>{{ item.key }}</mat-label>
                                            <mat-select [(ngModel)]="item.value" [disabled]="item.editable == 'warning'"
                                                (ngModelChange)="appCustomizationSubject.next(i)">
                                                <ng-container *ngFor="let opt of item.options; let i = index">
                                                    <mat-option *ngIf="isArray(opt)" [value]="opt[0]">{{ opt[1] }}
                                                    </mat-option>
                                                    <mat-option *ngIf="!isArray(opt)">{{ opt }}</mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-hint *ngIf="item.desc">{{ item.desc }}</mat-hint>
                                        </mat-form-field>
                                    </ng-container>
                                    <ul *ngIf="item.children">
                                        <div class="sub-head">{{item.key | uppercase}}</div>
                                        <div *ngIf="sectionDefinitions[item.key]" class="sec-def">
                                            <mat-icon>info</mat-icon> {{ sectionDefinitions[item.key] }}
                                        </div>
                                        <ng-container
                                            *ngTemplateOutlet="recursiveListLibrary; context:{ $implicit: item.children }">
                                        </ng-container>
                                    </ul>
                                </li>
                            </ng-template>
                            <ng-container *ngTemplateOutlet="recursiveListLibrary; context:{ $implicit: library }">
                            </ng-container>
                        </ul>
                        <button mat-raised-button color="primary" class="button-primary"
                            [disabled]="!appCustLibrariesDirtyCount[i].count"
                            (click)="updateCust(appCustLibrariesCopy[i], i)">Save Customization for Library
                            {{appCustLibrariesDirtyCount[i].name}}</button>
                        &nbsp;
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </mat-expansion-panel>
    </mat-accordion>
</main>