<h1 mat-dialog-title>eBooks & Streaming Resources Search</h1>
<div mat-dialog-content>
    <div><strong>Searching for: <em>{{ title }} / {{ author }}</em></strong></div>
    <br>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div *ngIf="!isLoading && items?.length">
        <div *ngFor="let item of items" class="item mat-elevation-z2">
            <div><strong>{{ item.title }}</strong></div>
            <div *ngIf="item.author" fxLayoutAlign="start center"><mat-icon [matTooltip]="'Author'" aria-label="author">perm_identity</mat-icon>{{ item.author }}</div>
            <div *ngIf="item.date" fxLayoutAlign="start center"><mat-icon [matTooltip]="'Published'" aria-label="published">event</mat-icon>{{ item.date }}</div>
            <div *ngIf="item.edition" fxLayoutAlign="start center"><mat-icon [matTooltip]="'Edition'" aria-label="edition">filter_2</mat-icon>{{ item.edition }}</div>
            <div *ngIf="item.url" class="margin-top-default">
                <button mat-raised-button color="primary" class="button-primary" (click)="access(item)">Access</button>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading && !items?.length" class="alert alert-warning">
        No eBook / Streaming Resources Found
    </div>

</div>
<div mat-dialog-actions>
    <button mat-stroked-button (click)="close()">Close</button>
</div>
