.items {
    min-height: 10em;
    .item {
        padding: 1em;
        margin: 0.5em;
        mat-icon {
            vertical-align: middle;
            margin: 0 0.25em;
            cursor: help;
        }
        li {
            margin-bottom: 0.25em;
        }
    }
}
#title-author-search {
    button {
        margin-top: 0.275em;
        margin-bottom: 1.8em;
    }
}