<!-- for IIS to prevent public access to default private dirs. If you didn't use the default, make sure it's not accessible to the public -->
<configuration>
   <system.webServer>
       <security>
          <requestFiltering>
               <hiddenSegments>
                   <add segment="private_data" />
                   <add segment="private_temp" />
                   <add segment="vendor" />
                   <add segment="cpdf" />
               </hiddenSegments>
                <requestLimits maxAllowedContentLength="268435456"/>
           </requestFiltering>
       </security>
   </system.webServer>
</configuration>
